* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 2rem;
    color: #5a3e1b;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

nav button {
    background: #5a3e1b;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
}

/* HERO */
.hero {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 50px 100px; 
    min-height: 80vh;
}

/* IMAGE */
.image img {
    width: 300px;
    border-radius: 50%;
    border: 5px solid #d1bfa3;
}

/* CONTENT */
.content {
    max-width: 400px;
    margin-right: 250px;
   /* margin-left: auto;  
    
    
    text-align: right; 
    display: flex;
    flex-direction: column;
    justify-content: center; /* centre le texte verticalement à l'intérieur du content */
    
}

.content h1 {
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: bold;
}

.content h1 span {
    color: #000000;
}

.content h3 {
    margin: 10px 0;
}

.highlight {
    color: #5a3e1b;
}

.content p {
    margin: 15px 0;
    color: #555;
    font-size: 1.2rem;
}

.cv {
    background: #5a3e1b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}
